/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: whitesmoke;
    /* padding: 15px 0; */
    color: #333;
    height: 1%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
}

.logo {
    /* border: 3px solid red; */
    width: 20%;

}
.logo img {
    /* display: none; */
    height: 60px; /* Adjust the height as needed */
    /* background-color: red; */
}

.nav-links {
    list-style: none;
    display: flex;
    /* background-color: red; */
    width: 80%;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.nav-links li {
    /* margin-right: 20px; */
    position: relative;
    /* border: 2px solid red; */
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    /* margin-right: 100px; */
}

/* Style the sub-menus */
.sub-links {
    list-style: none;
    display: none;
    position: absolute;
    /* margin-top: 10px;  */
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    z-index: 5;
    color: black;
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 4s ease-in; */
}

/* Show sub-links when hovering over the main navigation links */


.sub-links li {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    text-align: left;
    /* transition: background-color 0.3s ease-in-out; */
}

.sub-links li a {
    color: black;
    font-size: 16px;
}

.nav-links li:hover .sub-links {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Style sub-sub-menus (nested) */
.sub-sub-links {
    display: none;
    position: absolute;
    top: 0;
    /* background-color: green; */
    width: 220px;
    left: 100%;
    background-color: whitesmoke;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.sub-sub-links li {
    list-style: none;
    /* background: brown; */
    width: 220px;
    padding: 20px ;
}

.sub-links li:hover .sub-sub-links {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Style sub-sub-sub-menus (nested deeper) */
.sub-sub-sub-links {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: whitesmoke;
    z-index: 3;
    /* color: green; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.sub-sub-sub-links li a {
    color: black;
}

.sub-sub-links li:hover .sub-sub-sub-links {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mobile-nav {
    display: none;
}

/* Media Queries for mobile nav bar */

@media screen and (max-width: 768px) {

    .mobile-nav {
        display: block;
        padding: 0;
    }
    .desk-nav{
        display: none;
    }

    .mobile-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 22px;
    }
    .menu-toggle {
        cursor: pointer;
        display: block;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #444444;
        display: block;
        transition: 0.3s;
    }

.sidenav a:hover {
        color: black;
}

.sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
}



.dropdown-btn {
    /* border: 2px solid red; */
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    /* border: none; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container a {
    border-bottom: 1px solid gray;
}

.active {
    background-color: whitesmoke;
    color: black;
}

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgb(227, 225, 225);
    padding-left: 8px;
}

  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
}

/* Hero Section */

/* Customize the slider container */
.swiper-container {
    z-index: 0;
    width: 100%;
    height: 90vh;
    max-width: 100%; /*Adjust the maximum width as needed */
    margin: 0 auto;
    position: relative;
}

/* Style for the swiper-wrapper */
.swiper-wrapper {
    width: 100%;
    height: 100%; /* Set the height to 100% to match the container */
    position: relative; /* Needed for absolute positioning of text */
}

/* Style for the slide text overlay */
.slide-text {
    /* background: rgb(176, 173, 173); */
    position: absolute;
    bottom: 150px; /* Vertically center the text */
    left: 20px; /* Horizontally center the text */
    padding: 10px;
    font-size: 4rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #fff; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
    z-index: 2; /* Place text above the image */
}

/* Style for the pagination */
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}


/* Add a semi-transparent overlay to darken the images */
.swiper-slide {
    position: relative;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 for 50% darkness) */
    z-index: 1;
}

/* Style for the image */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Optional: Style for navigation arrows */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    font-size: 24px;
}




/* Partnership Styling */

.section {
    padding: 10px 30px;
}

.partnership {
    font-size: 1.8rem;
    margin-top: 3rem;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sponsors img {
    width: 150px;
}

.sponsors img:nth-child(2) {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .sponsors img {
        width: 100px;
    }

    .sponsors img:nth-child(2) {
        width: 150px;
    }
}

/* Footer Styling */
.footer-bottom{
    margin-top: 40px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    padding: 0px 30px;
    border-bottom-right-radius: 15px;
}

.footer-bottom p {
    font-size: 20px;
    font-weight:600 ;
}
.social-links a {
    display: block;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 190px;
    font-size: 25px;
    /* border: 1px solid red; */
    padding: 10px 30px;
}

.social-links-inner {
    display: flex;
    justify-content: space-between;
}
.social-links-inner i {
    color: black;
    display: block;
}
.footer-bottom i {
    transition: all 0.3s ease-in;
    color: black;
}
.social-links i:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) { 
    .site-footer {
    padding: 0px 0px;
    flex-direction: column;
    align-items: start;
    }
    .site-footer .footer-logo img{
        width: 10px;
        display: none;
    }
    .site-footer .footer-links {
        flex-direction: column;
        flex-wrap: wrap;
        width: 70%;
        gap: 20px;
    }
    .footer-bottom {
        padding: 10px 20px;
    }
    .footer-bottom p {
        font-size: 14px;
    }

    .footer-bottom i {
        font-size: 25px;
    }

}