section{
    padding: 10px 30px;
}

section h3 {
    font-size: 3rem;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
}

.footer-bottom {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    section h3 {
        font-size: 2rem;
    }

    section p {
        font-size: 13px;
    }
}
