.about-section {
    /* padding: 100px 60px; */
    margin: 40px 80px;
    /* margin-top: 70px; */
    text-align: justify;
}

.aims-heading {
    font-size: 4rem;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1.2rem;
}

.about-grid {
    margin-bottom: 40px;
    /* border: 2px solid red; */
}

.about-grid-1 {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.about-grid-1 > img {
    width: 700px;
    height: 479px;
}

.inner-about-grid-1 img {
    width: 370px;
    height: 232px;
}

.inner-about-grid-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-grid-2 {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.inner-about-grid-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner-about-grid-2 img {
    width: 470px;
    height: 256px;
}

.about-grid-2 > img{
    width: 400px;
}


@media screen and (max-width: 768px) {
    .about-section{
    margin: 40px 20px;
    }
    .about-1 h2 {
        font-size: 3rem;
    }
    .about-grid-1 > img {
        width: 220px;
        height: 173px;
    }

    .inner-about-grid-1 img {
        width: 120px;
        height: 80px;
    }

    .about-grid-2 {
        gap: 6px;
    }
    .inner-about-grid-2{
        gap: 6px;
    }

    .about-grid-2 .inner-about-grid-2 img {
        width: 150px;
        height: 150px;
    }

    .about-grid-2 > img {
        width: 200px;
        height: 306px;
    }
}